
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#categoryModal">
    Category
  </button>
 
  <!-- Modal -->
  <div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">New Category</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">           
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <label for="inputName" class="form-label">NAME</label>
                        <input type="text" class="form-control" id="inputName">        
                    </div>
                    <div class="col-md-12 mb-2">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Select the type</option>
                            <option value="1">Expense</option>
                            <option value="2">Income</option>
                          </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <h6>COLOR</h6>
                    </div>
                    <div class="col-md-3 col-sm-3">
                       <button type="button" class="btn color color-rojo"><i class="bi bi-circle-fill "></i></button> 
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <button type="button" class="btn color color-papaya"><i class="bi bi-circle-fill "></i></button>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <button type="button" class="btn color color-naranja"><i class="bi bi-circle-fill"></i></button>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <button type="button" class="btn color color-perico"><i class="bi bi-circle-fill"></i></button>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <button type="button" class="btn color color-jade"><i class="bi bi-circle-fill"></i></button>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <button type="button" class="btn color color-turquesa"><i class="bi bi-circle-fill text-info"></i></button>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <button type="button" class="btn color color-cielo"><i class="bi bi-circle-fill"></i></button>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <button type="button" class="btn color color-blu"><i class="bi bi-circle-fill"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <h6>ICON</h6>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <button type="button" class="btn itemIcon travel"><i class="bi bi-bank"></i></button>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <button type="button" class="btn itemIcon shop"><i class="bi bi-cart-fill"></i></button>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <button type="button" class="btn itemIcon hospital"><i class="bi bi-dpad-fill"></i></button>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <button type="button" class="btn itemIcon game"><i class="bi bi-controller"></i></button>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <button type="button" class="btn itemIcon otros "><i class="bi bi-file-text-fill"></i></button>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <button type="button" class="btn itemIcon education"><i class="bi bi-mortarboard-fill"></i></button>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <button type="button" class="btn itemIcon car"><i class="bi bi-car-front-fill"></i></button>
                    </div>
                    <div class="col-md-3 col-sm-3 mb-2">
                        <button type="button" class="btn itemIcon gift"><i class="bi bi-gift-fill"></i></button>
                    </div>
                </div>         
        </div>
        <div class="modal-footer">
                <div class="col-md-12 mb-3 text-center">
                    <button type="button" class="btn buttonCrear rounded-3">Create</button>
                </div>
        </div>
      </div>
    </div>
  </div>



   

